.alert{
    margin: 1em 0;
}
.container{
    padding-bottom: 2em;
}
.card{
    margin-top: 1em;
}
.list-group{
    margin-top: 1em;
}
.smallcard{
    margin: 0 auto;
}
.extraBtn{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.SubmitBtn{
    float: right;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
}
.smallBtn{
    --bs-btn-padding-y: .25rem; 
    --bs-btn-padding-x: .5rem; 
    --bs-btn-font-size: .75rem;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.bigBtn{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.alert{
    display: block;
}
.workoutUl{
    margin-top: 0;
}
.program-title{
    font-size: 0.9em;
}