.alert{
    margin: 1em 0;
}
.card{
    margin-top: 1em;
}
.signupCol{
    margin: 0 auto;
}
.SubmitBtn{
    float: right;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.alert{
    display: block;
}